@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


.about__container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__history_text {
    line-height: 30px;
    font-family: 'Rubik', sans-serif;

}