@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100&family=Rubik:wght@300&display=swap');


.about__container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__history_text {
    padding: 10px 45px;
    margin-top: 40px;
    line-height: 30px;
    font-family: 'Rubik', sans-serif;

}

.about_us__page_title {
    font-family: 'Lato', sans-serif;
}