.footer_container {
    width: 100%;
    position: absolute;
    background-color: black;
    margin: 0;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.footer_info__container {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.footer_info__box {
    width: 200px;

}

.footer_logo {
    width: 60%;
    font-size: 2rem;
    text-align: center;
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

.footer_info__text {
    color: white;
    line-height: 30px;
}

.footer_createdBy_footer {
    width: 80vw;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.footer_powered_by {
    color: white;
    margin: 15px;
    font-weight: lighter;
}

@media (max-width: 600px) {
    .footer_info__container {
        flex-direction: column;
        align-items: center;
    }

    .footer_info__box {
        width: 60%;
        margin-bottom: 30px;
        text-align: center;
    }
}