.footer_container {
    background-color: black;
    margin: 0;
    padding: 20px 15px;
}

.footer_info__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer_info__box {
    width: 200px;

}

.footer_logo {
    font-size: 2rem;
    text-align: center;
    color: white;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
}

.footer_info__text {
    color: white;
}