.overview_section1_container {
    height: 80vh;
    background-image: url('../comps/images/bible-1948778.jpg');
    background-position: center;
   

}

.overview_section2__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25vh;
}

.overview_section3__container {
    height: 80vh;
}

.bible_verse__container {
    width: 80%;
}

.bible_verse__text {
    line-height: 40px;
}