@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100&family=Rubik:wght@300&display=swap');

.latest_material__video {
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.latest_material__title {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    padding-top: 5px;
}

.latest_material__speaker {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: darkgrey;
}