@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100&family=Rubik:wght@300&display=swap');


.leader__container {
    width: 100%;
}

.leader__header_img {
    width: 500px;
}

.leader__container .leader__name, .leader__position, .leader__bio {
    font-family: 'Lato', sans-serif;
}